<div class="footer" >
    <div class="info-footer" id="contat"> 

    © 2025 Green Leaf. Todos os direitos reservados.
    <p class="footer-2">Feito com <i class="fas fa-heart"></i> por Green Leaf</p>
    </div>
    <div class="social">
            <!-- instagram -->
    <a href="" target="_blank" class="link"><i
            class="fab fa-instagram"></i></a>
            <!-- github -->
    <a href="" target="_blank" class="link"><i
            class="fab fa-github"></i></a>
    <!-- links externos -->
    <a href="" target="_blank" class="link"><i
            class="fa fa-link"></i></a>
    

    </div>
    
    <img src="imgs/logos/fatec_ra_registro_registro/fatec_ra_registro_registro_cor.png"
        alt="logo fatec registro" srcset="">
    </div>

</div>
</body>
<script src="main.js"></script>
</html>