<%- include("partials/header2.ejs") %>
<%- include("partials/navbar.ejs") %>


<div class="container-fluid">

      <div class="header-yellow">
        
        
        <h1>Sobre Nós</h1>
        <p>
          Somos alunos de Desenvolvimento de Software Multiplataforma da FATEC de
          Registro e estamos desenvolvendo um aplicativo para auxiliar os
          produtores de mandioca e ajudar no combate à Xanthomonas Phaseolli.
        </p>
      </div>

      <div class="team-section">
        
          <div class="row text-white">
            <div class="col-md-3 team-member">
              <div class="foto leo" style="text-align: center;">
                <img src="https://avatars.githubusercontent.com/u/181168271" alt="foto do leonardo" />
              </div>
              <h6>Leonardo de Lima</h6>
              <p class="small">
                Analista de dados, 26 anos, com experiência no uso de Python,
                Pandas, Matplotlib, Numpy, SQL e Excel para coleta, tratamento e
                análise de dados. Atua na criação de dashboards, automação e
                geração de insights estratégicos.
              </p>
            </div>
            <div class="col-md-3 team-member">
              <div class="foto">
                <img src="https://avatars.githubusercontent.com/u/186774654" alt="foto do bruno" />
              </div>
              <h6>Bruno De Lucca</h6>
              <p class="small">
                Designer Grafico, 22 anos, com experiência em design de interfaces
                e criação de identidades visuais. Habilidades em Photoshop, Gimp e
                Figma. Focado em criar experiências visuais impactantes e
                funcionais.
              </p>
            </div>
            <div class="col-md-3 team-member">
              <div class="foto">
                <img src="https://avatars.githubusercontent.com/u/69434680" alt="foto do matheus" />
              </div>
              <h6>Matheus Mosken</h6>
              <p class="small">
                Developer, 22 anos, com experiência em desenvolvimento de software
                e aplicativos. Habilidades em Linux, Python e React. Focado em
                criar soluções inovadoras e eficientes.
              </p>
            </div>
            <div class="col-md-3 team-member">
              <div class="foto">
                <img src="https://avatars.githubusercontent.com/u/199160244" alt="foto da ana" />
              </div>
              <h6>Ana Flávia</h6>
              <p class="small">
                Administradora de redes, 19 anos, com experiência em
                administração de redes e segurança da informação. Habilidades em infraestrutura de redes,
                configuração de servidores e monitoramento de sistemas. Focada em garantir a segurança e estabilidade dos servidores.
              </p>
            </div>
          </div>
        </div>
      </div>

<%- include("partials/footer") %>