@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,');

*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: #000 solid 1px; */
}

.container{
    width: 100%;

    margin: 0 auto;
    padding: 0 20px;
}

:root{

    --cinza: #455A64;
    --cinzaescuro: #333D42;
    --verde:  #066d06; 
    --preto: #000;
    --branco: #fff;
    --amarelo: #FFC107;
}


strong{

    font-family: 'Poppins' ;
    font-style: #fff;

}


h1 {
    font-size: 4rem;
    letter-spacing: 8px;
    margin-left: 65px;
    color: #333D42;
}

.texto-grande {
    text-align: left;
    font-size: x-large;
    color: #333D42;
    align-items: center; 
    margin-left: 65px;
}

strong {
    color: #fff;
}

.img-folha {
    height: 15em; 
    width: auto;
    margin-left: auto; 
    margin-right: 80px;
    border-radius: 50%; /* Faz com que a borda fique circular */
    border: 2px solid #333D42;
}

.white-text {
    color: #fff;
}

body{ 
    background-color: #FFC107;
    height: 100vh;
    
}

header{

display: flex;
justify-content: space-between;
align-items: center;
gap: 5rem;
flex-wrap: wrap;
/* padding-left: 0; */
padding: .8rem;
background-color:#333D42;
min-height: 50px;

}

.box-img-header{

    height: 100% ;
    padding-left: 100px;
    left: 5em;
    display: flex;
    align-items: center;
}

.logo_simbolo{

    max-width: 120px;
    height: 100%;
    
    
    border-radius: 50%; 
    border: 2px solid #FFC107;

}
nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.nav-links{
    font-size: 1.5em;
    text-decoration:none ;
    color: #FFC107;

}

.nav-links:hover{

    color: #fff;;
    transition: .4s;

    
}

main{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

section{
    /* padding: 4rem; */
    
}

.first-section {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding:  55px; 
    width: 100%;
}

.second-section {
    background-color: #333D42;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse; 
    padding:  40px;
    width: 100%;
}

.imagem-esquerda {
    max-width: 550px;
    height: auto;
    margin-left: 60px;
    border-radius: 2%;
}

.texto-pequeno {
    font-size: medium;
    max-width: 500px;
    color: #fff; 
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif ;
}

.bloco-amarelo {
     
    padding: 1rem;
    margin-top: 2rem;
    text-align: center; 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    height: auto;
    overflow: hidden;
    margin-top: 10px; 
    margin-bottom: 0px; 
}

.footer {

    color: var(--cinzaescuro);
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1.2rem;
    margin-top: 2rem;
    justify-content: space-between;
    
}

.info-footer {
    gap: 1rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}


/* .footer .info-footer p {
    font-size: 80% !important;
} */

.footer .info-footer i {
    font-size: 70% !important;
    color: var(--verde);

}

.footer .info-footer i:hover {
    color: red;
    transition: .4s;
}

.footer img {
    width: 10% !important;
    height: auto !important;
    margin-right: 5%;
}

.footer i {
    color: var(--cinza);
    font-size: 200%;



}
